week_1/video_2/ny_taxi_postgres_data/
week_1/video_5/ny_taxi_postgres_data/
week_1/video_5/pgadmin/
week_2/mage-ai-terraform-templates/
week_2/mage-zoomcamp/cedar-unison-413811-87753dffae79.json
week_2/mage-zoomcamp/mage-data/
*csv